@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white; /* 필요 시 배경 색 */
  font-family: "DungGeunMo";
}

.background {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 800px;
  background-image: url("/img0528/bg.png");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: repeat-y;
  min-height: 100vh;
}

#grass {
  display: block;
  width: 800px;
  height: auto;
}
.btnjp {
  position: absolute;
  top: 30px;
  right: 25px;
  width: min(10.5vw, 80px);
  height: min(5.5vw, 35px);
  font-size: 28px;
  font-family: "DungGeunMo";
}

.text-wrap {
  text-align: center;
  padding-top: 80px;
}
h2 {
  /*아래 폰트 사이즈로 화면 크기에 따라 반응하도록 함. 최소 지금 폰트 사이즈/1920*100을 해서 비율을 알아낼 수 있음*/
  color: rgb(215, 245, 232);
  font-size: min(8.15vw, 80px);

  letter-spacing: 10px;
  /*나중에 둥둥 떠다니는 애니 넣기*/
}

/*
모바일 환경에서(위드가 768이 됐을 때는 폰트 사이즈를 5.5wv에서 멈출 것이다.ㄴ
@media (max-width: 768px) {
  h2 {
    font-size: 5.5vw;
  }
}
  */

h1 {
  color: rgb(215, 245, 232);
  font-size: min(15.3333vw, 160px);

  letter-spacing: 10px;
  margin: 5px 0;
  /*나중에 둥둥 떠다니는 애니 넣기*/
}

h3 {
  color: rgb(215, 245, 232);
  font-size: min(3vw, 80px);

  margin: 10px 0;
}

@media (max-width: 768px) {
  h3 {
    font-size: 3vw;
  }
}

h6 {
  color: rgb(215, 245, 232);
  margin: 15px 0;
  font-size: min(2vw, 160px);
}

@media (max-width: 768px) {
  h6 {
    font-size: 2.5vw;
  }
}

.ky {
  position: absolute;
  top: 90px;
  left: 30px;
  width: min(15.5vw, 120px);
}

.hy {
  position: absolute;
  top: 90px;
  right: 30px;
  width: min(10.5vw, 80px);
}

/*앱솔루트를 안 주는 게 좋음. 자꾸 고정하느니 그냥 밀려밀려 두는 게 나음
*/
.thanks {
  background-color: azure;
  border: 3px solid rgb(186, 181, 181);
  box-shadow: 5px 5px 5px rgb(123, 121, 121);
  width: min(50vw, 400px);
  color: rgb(6, 34, 6);
  text-align: center;
  font-size: min(2vw, 20px);
  margin: 50px auto;
}

@media (max-width: 768px) {
  .thanks {
    font-size: 2vw;
  }
}

.link {
  width: 60px;
  left: 30px;
}

.link img {
  width: 100%;
  animation: link infinite steps(1) 1s;
  /*링크 애니메이션 주고, 계속 반복, 스텝스는 1단계씩 끊어라, 1초마다*/
  transform-origin: center bottom;
  /*애니메이션 축 조절하는 코드, 종축은 센터, 횡축은 맨 아래*/
}

/*스케일 가로 100% 세로 100%에서 세로를 줄이는 애니메이션*/
@keyframes link {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.95);
  }
}
