.underdog-regular {
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
}

.wrap {
  display: flex;
  justify-content: center;
  /*랩 안의 콘텐츠를 가운데 정렬하는 코드 세트*/
}

.bg {
  position: relative;
  /*이로써 이 안의 콘텐츠는 얘를 기준으로 움직이게 됨*/
}

.dongjun {
  position: absolute;
  left: 50%;
  top: 50%;
  /*왼 50, 탑 50이 가운데 정렬 국룰 공식*/
  transform: translate(-50%, -50%);
  /*트랜스폼은 본인 크기를 기준으로 잡힘*/
}

.nukidjp {
  position: absolute;
  left: -33px;
  top: 9%;
  scale: 77%;
}

.title {
  position: absolute;
  left: 5%;
  top: 0%;
}

.textright {
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.textleft {
  position: absolute;
  left: 0%;
  top: 0%;
}

.taco {
  position: absolute;
  right: 60px;
  top: 290px;
}

.toku {
  position: absolute;
  right: -20px;
  top: 190px;
}

.bigdj {
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.eng {
  position: absolute;
  left: 40px;
  bottom: 160px;
}

.jao {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.yen {
  position: absolute;
  left: 6.5%;
  bottom: 0px;
}

.btn {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background-color: rgb(28, 162, 28);
  border: dashed 4px rgb(159, 206, 128);
  color: white;
  font-size: 22px;
  font-family: "Underdog";
}

.taco.ani {
  position: absolute;
  right: 60px;
  top: 290px;
  animation: rotate 3s linear infinite;
}

.nukidjp.ani {
  position: absolute;
  left: -33px;
  top: 9%;
  scale: 77%;
  animation: bounce 3s ease-in-out infinite;
}

.title.ani {
  position: absolute;
  left: 5%;
  top: 0%;
  transform: translate(-50%);
  animation: Blink 3s ease-in-out infinite;
}

.textright.ani {
  position: absolute;
  right: 0%;
  animation: moveDownUp 10s ease-in-out infinite;
}

.textleft.ani {
  position: absolute;
  left: 0%;
  animation: moveUpDown 10s ease-in-out infinite;
}

.jao.ani {
  position: absolute;
  left: 30px;
  bottom: 30px;
  animation: op 3s ease-in-out infinite;
}

@keyframes rotate {
  /*퍼센티지: 시작과 끝 지정*/
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes op {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%); /* 위로 50px 이동 */
  }
  100% {
    transform: translateY(0%); /* 원래 위치로 복귀 */
  }
}

@keyframes moveDownUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes Blink {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
    opacity: 80%;
  }
  100% {
    transform: translateY(0%);
  }
}
